<meta charset="UTF-8">
<title>Reto Práctica 1</title>

<body>
<%= hello %>
</body>

<style>
    body    { padding-top:25px;
	      padding-left:25px;
	      color:red;
	      font-size: 100;
 }
</style>

